

#app-root {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: auto;

    .panel-card-viewer-container {
        position: relative;

        .panel-card-viewer {
            position: absolute;
            inset: 0;

            display: flex;
            flex-direction: column;

            .list-cards {
                flex: 1 1;
            }

            .details {
                min-height: 20em;
                max-height: 20em;
                
                position: relative;

                grid-area: details;
                display: flex;
                align-items: center;
                justify-content: center;

                > * {
                    position: absolute;
                    inset: 0;
                }
            }
        }
    }
}