
.card-image {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:    100%;
    
    height: 100%;
    width: 100%;

    overflow: hidden;
    cursor: pointer;

    .card-image-inner {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:    100%;
        transition: 0.2s transform ease-in-out;
        transform: scale(1);
        perspective: 1200px;
        perspective-origin: 0 -100%;

    }

    .image, .image-back {
        grid-row: 1;
        grid-column: 1;

        transform: rotate3d(var(--card-width), var(--card-height), 0, 0deg);
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        image-rendering: optimizeQuality;
        
        transition: 0.4s transform ease-in-out;
        backface-visibility: hidden;
        filter: blur(0.1px);

        border-radius: calc(var(--card-width)*0.06px);
    }

    .image-back {
        transform: rotate3d(var(--card-width), var(--card-height), 0, -180deg);
        filter: blur(0);
    }

    &:hover .card-image-inner {
        transform: scale(0.95);
    }
    
    &.flipped {
        .image      { transform: rotate3d(var(--card-width), var(--card-height), 0, 180deg); }
        .image-back { transform: rotate3d(var(--card-width), var(--card-height), 0,   0deg); }
    }

}