

.vlist.list-cards {

    .vlist-content {
        position: relative;
        background-color: var(--bg-panel-3);
        box-sizing: border-box;
        border: 2px var(--bg-panel-4) solid;
        box-sizing: border-box;

        --entry-bg: var(--bg-panel-3);

        .card-entry, .card-group {
            overflow: hidden;
            padding: 0 0.25em;
            gap: 0.25em;

            user-select: none;;

            display: flex;
            align-items: center;
            
            cursor: pointer;
        }

        .card-group {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .name {
                flex: 1 1;
            }

            .arrow {
                width: 1em;
                height: 1em;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                transform: rotate(0deg);
                transition: 0.15s transform ease-in-out;;
            }

            &.collapsed {
                .arrow {
                    transform: rotate(-90deg);
                }
            }
        }

        .card-entry {
            position: relative;

            .card-qty {
                width: 2ch;
                max-width: 2ch;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .card-type {
                width: 1em;
                * { fill: var(--accent-3); }

                // Unused
                //.icon-card-type {
                //    &.rarity-common   * { fill: #000; stroke: #000; }
                //    &.rarity-uncommon * { fill: #abb; stroke: #abb; }
                //    &.rarity-rare     * { fill: #ba5; stroke: #ba5; }
                //    &.rarity-mythic   * { fill: #e72; stroke: #e72; }
                //}
            }

            .card-name {
                flex: 1 1;
                min-width: 0;
                text-overflow: ellipsis;
                overflow-x:    hidden;;
                font-size: 90%;
            }

            .card-cost {
                width: min-content;

                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-rows: 1fr;
                grid-auto-flow: column;
                justify-content: center;
                align-items: center;
                opacity: 1;
                transition: 0.2s opacity ease-in-out;

                > * {
                    width: 1em;
                    height: 1em;
                }
            }

            .card-overlay:hover + .card-cost, .card-overlay.hover + .card-cost {
                opacity: 0;
            }

            .card-overlay {
                z-index: 1;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                pointer-events: auto;
                transition: 0.2s opacity ease-in-out;
                gap: 0.5ch;

                padding: 0 0.5ch;

                background-color: var(--entry-bg);
                margin: 1px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
                &:hover, &.hover {
                    opacity: 1.0;
                    pointer-events: unset;
                };

                .button {
                    height: 1em;
                    width: 1em;

                    .button-icon {
                        --icon-size: 0.75em;
                    }
                }
            }
        }

        .card-group {
            color: var(--fg-panel-1);
            background-color: var(--bg-panel-1);

        }
    }
}

.vlist.list-cards {
    
    &.focused {
        .vlist-content {
            border: 2px var(--accent-1) solid;

            .selected {
                .card-entry, .card-group.selected {
                    box-shadow: inset 0 0 0 1px var(--accent-1), 0 0 4px 1px black;
                    background-color: var(--bg-input-0);
                    --entry-bg: var(--bg-input-0);
                }
            }
        }
    }

    &.unfocused .selected .card-entry, &.unfocused .selected .card-group {
        box-shadow: inset 0 0 0 1px var(--accent-3);
    }

}