

@mixin button-theme() {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;

    background-color: var(--bg-input-3);
    color: var(--fg-input-3);

    &:hover {
        background-color: var(--bg-input-2);
        color: var(--fg-input-2);
    }

    &:active {
        background-color: var(--bg-input-0);
        color: var(--fg-input-0);
    }

    &:focus, &.selected { 
        outline: none; 
        box-shadow: inset 0 0 0 1px var(--accent-1);
    }

    &:disabled {
        background-color: var(--bg-input-0);
        color: var(--fg-input-0);
    }
}


