
@use "sass:math";
@import "style/style.scss";

$scrollbar-size: 1em;

.scrollbar {
    user-select: none;
    * {  user-select: none; }

    border-radius: 0.25em;
    
    .button, .button-icon {
        width:  $scrollbar-size;
        min-width:  $scrollbar-size;
        max-width:  $scrollbar-size;
        height: $scrollbar-size;
        min-height: $scrollbar-size;
        max-height: $scrollbar-size;
        * { fill: var(--accent-3); stroke: var(--accent-3); }
    }

    .scrollbar-inner {
        position: relative;
        display: flex;

        width: 100%;
        height: 100%;
    
        box-sizing: border-box;
        background-color: var(--bg-input-0);

        > .scrollbar-slide {
            position: relative;
            height: 100%;
            width:  100%;
            > .scrollbar-slider {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                > .button {
                    border-radius: 0;
                }
            }
        }
        
        .handle {
            box-sizing: border-box;
            @include button-theme;
        }
    }

    &.vertical {
        height: 100%;
        min-width: $scrollbar-size;
        max-width: $scrollbar-size;
        .scrollbar-inner {
            flex-direction: column;

            > .button {
                &:first-child {
                    margin-bottom: math.div($scrollbar-size, 2);
                    border-radius: 0.25em 0.25em 0 0;
                }
                &:last-child {
                    margin-top: math.div($scrollbar-size, 2);
                    border-radius: 0 0 0.25em 0.25em;
                }
            }

            > .scrollbar-slide {
                width: $scrollbar-size;
                > .scrollbar-slider {
                    top: var(--scrollbar-offset);
                    max-height: 0;
                }
            }
        }
    }


    &.horizontal {
        width: 100%;
        min-height: $scrollbar-size;
        max-height: $scrollbar-size;
        .scrollbar-inner {
            flex-direction: row;

            > .button {
                &:first-child {
                    margin-right: math.div($scrollbar-size, 2);
                    border-radius: 0.25em 0 0 0.25em;
                }
                &:last-child {
                    margin-left: math.div($scrollbar-size, 2);
                    border-radius: 0 0.25em 0.25em 0;
                }
            }

            > .scrollbar-slide {
                height: $scrollbar-size;
                > .scrollbar-slider {
                    left: var(--scrollbar-offset);
                    max-width: 0;
                }
            }
        }
    }
}