
@import "style/style.scss";

.select {
    @include button-theme;


    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1.5em;
    grid-template-rows: auto;
    grid-template-areas: 'label arrow';
    border: 1px solid var(--accent-3);
    padding: 0 0.25ch;
    gap: 0.25ch;

    align-items: center;
    justify-content: center;

    select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        box-sizing: border-box;
        opacity: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .overlay {
        grid-area: label;

        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .arrow {
        grid-area: arrow;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}