

.vlist-root {

    overflow-y: auto;

    .vlist-scrollbox {
        position: relative;

        .vlist-content {
            position: absolute;
            display: flex;
            flex-direction: column;

            .vlist-entry {
                padding: 0.125em 0.25em;

                &.vlist-entry-track {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                    width: 100%;

                    .vlist-entry-track-inner {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        
    }

}





